@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Lato Regular', sans-serif;
}

a {
  color: $background;
  text-decoration: none;

  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.sitelayout-wrapper {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.05fr 1fr 0.05fr;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  height: 100vh;
  color: $background;

  .link-icon {
    display: flex;
    align-items: center;
    span {
      margin: 0 4px;
    }
  }

  .spinner {
    animation: rotateit 1s linear infinite;

    @keyframes rotateit {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    @keyframes shake {
      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }

  .error-border {
    border-color: rgba(255, 135, 124, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
      0 0 8px rgba(255, 135, 124, 0.6);
    outline: 0 none;
  }
}

header,
main,
footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;

  .faIcons {
    color: $background;
    cursor: pointer;
  }
  a.selected {
    .faIcons {
      color: black;
    }
  }
}

header,
footer {
  .faIcons {
    font-size: 1.3rem;
  }
}

header {
  grid-area: header;
  #system-info {
    color: $background;
  }
}

main {
  grid-area: main;
  justify-content: center;

  .home-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

footer {
  grid-area: footer;
}
