$background: #5e6472;
$background-opacity: #5e647225;
$background-opacity-10: #5e647210;
$rose-bud: #ffa69e;
$rose-bud-dark: #ff877c;
$off-yellow: #faf3dd;
$mint-green: #b8f2e6;
$grey-blue: #aed9e0;

// Media Queries
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';
$large: 'min-width: 1200px';
